@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}
header {
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
    color: white;
    z-index: 1000;
    font-family: 'Electrolize', sans-serif; 
}

.container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
}

.room {
    background-color: #000000;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 200px;
    transition: background-color 0.5s;
    border: 2px solid white;
    font-family: 'Electrolize', sans-serif; 
}
.room.ligado {
    background: linear-gradient(#FFD700, #000000);
}

.room.desligado {
    background-color: #000000;
}

.status {
    margin-top: 10px;
    height: 20px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
